*{
    font-family: 'Ropa Sans', sans-serif;
}
header {
    padding: 40px 40px;
}
header h1 {
    font-weight: bold;
    font-size: 70px;
    display: block;
    position: relative;
    top: 5px;
    color: #df8cf8ef;
    text-shadow: 2px 2px 4px blue;
    text-align: left;
}
header nav {
    /* float: right; */
    position: relative;
    top: 40px;
    right: 20px;
    text-align: right;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-size: 26px;
    text-decoration: none;
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
}
header nav ul li a:hover {
    color: #df8cf8ef;
    text-shadow: 2px 2px 4px blue;
}
.header-btn {
    background-color: rgba(255, 32, 32, 0.322);
    border-radius: 30px;
    border: none;
}
.header-btn:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 241, 47, 0.945), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-shadow: 2px 2px 4px blue;
}
body {
    /* background-image: url("../images/background1.jpeg"); */
    background-image: linear-gradient(to right, #ffe761dc, #f4989d, white);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    /* position: absolute; */
    /* height: 100%;
    width: 100%; */
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding: 250px;
    text-align: left;
}
.about-me {
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, #f4989d, #df8cf8ef);
    border-radius: 30px;
    border: 5px #ffe761dc;
    text-align: center;
    padding: 20px 20px;
    bottom: 100px;
    justify-content: space-evenly;
    color:#ffe761dc;
    font-size: 30px;
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px black;
}
.pictureMyself{
    border-radius: 15px;
}
.my-work-samples {
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, #f4989d, #df8cf8ef);
    border-radius: 30px;
    text-align: center;
    padding: 20px 20px;
    justify-content: space-evenly;
    color:#ffe761dc;
    font-size: 26px;
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px black;
}
.my-work-samples a {
    margin-bottom: 30px;
    padding: 0%;
    /* display: block; */
}
footer {
    width: 100%;
    position: relative;
    top: 90px;
    border-top-color: #ffe761dc;
}
footer h3 {
    display: block;
    color: #ffe761dc;
    font-size: 26px;
    margin: 0;
}
footer div {
    line-height: 5.5;
    text-align: center;
    font-style: italic;
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
}
footer a {
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
    margin: 0 30px;
}
footer a:hover {
    color: white;
    text-shadow: 2px 2px 4px #f4989d;
}