header {
    padding: 40px 40px;
    background-image: url("../images/pink-glitter-header.jpeg");
    height: 100%;
    width: 100%;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    display: inline;
    position: relative;
    top: 30px;
    color: #ffe761dc;
}
header a {
    text-decoration: none;
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
}
header nav {
    float: right;
    position: relative;
    top: 40px;
    right: 20px;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    /* font-weight: lighter; */
    font-size: 26px;
}
body {
    background-image: url("../images/glitter-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding: 250px;
    transform: translateX(20%);
}
.container a {
    color:#ffe761dc;
    font-size: 26px;
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px black;
}
.about-me {
    position: relative;
    background-image: linear-gradient(to right, #f4989d, #ffe761dc);
    border-radius: 30px;
    text-align: center;
    padding: 50px 300px;
    bottom: 50px;
    justify-content: space-evenly;
}
.my-work-samples {
    position: relative;
    display: flex;
    background-image: linear-gradient(to right, #ffe761dc, #f4989d);
    border-radius: 30px;
    text-align: center;
    padding: 50px 400px;
    justify-content: space-evenly;

}
footer {
    background: #f4989d;
    width: 100%;
    position: relative;
    top: 90px;
}
footer h3 {
    display: block;
    color: #ffe761dc;
    font-size: 26px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
}
footer a {
    color: #ffe761dc;
    text-shadow: 2px 2px 4px black;
}