*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 40px 40px;
    background-image: url("../images/pink-glitter-header.jpeg");
 
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    display: inline;
    position: relative;
    top: 30px;
}
header a {
    text-decoration: none;
    color: #ffe761dc;
}
header nav {
    float: right;
    position: relative;
    top: 40px;
    right: 20px;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 26px;
}
body {
    background-image: url("../images/glitter-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}
section {
    padding: 100px;
    display:flex;
    justify-content: space-evenly;
    
}
.hero a {
    color:#ffe761dc;
    font-size: 26px;
    flex-wrap: wrap;
}
.box-one {
    background-image: url("../images/myself.jpg");
    height:400px;
    width: 400px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    border: solid 5px #f4989d;
    text-align: center;
    top: 50px;
    padding-top: 340px;
}
.box-two {
    background-image: url("../images/screen-shot.png");
    height:200px;
    width: 200px;
    background-size:100%;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    border: solid 5px #f4989d;
    text-align: center;
    top: 50px;
}
footer {
    background: #f4989d;
    width: 100%;
    position: relative;
    top: 90px;
}
footer h3 {
    display: block;
    color: #ffe761dc;
    font-size: 26px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    color: #ffe761dc;
}
footer a {
    color: #ffe761dc;
}